//
   Created by jamiecho on 6/14/16.
mixin tagFormat(tag)
    div
        table
            tr
                td
                    p CountryId
                td
                    p #{tag.CountryID}
            tr
                td
                    p Time
                td
                    p #{tag.Time}
            tr
                td
                    p Location
                td
                    p #{tag.Location}
            tr
                td
                    p Comments
                td
                    p #{Comments}
mixin personFormat(person)
    div
        table
            tr
                td
                    p Name
                td
                    p #{person.name}
            tr
                td
                    p E-mail
                td
                    p #{person.email}
            tr
                td
                    p Phone
                td
                    p #{person.phone}
            tr
                td
                    p Address
                td
                    p #{person.address_1}
                    p #{person.address_2}

mixin entryFormat(entry)
    tr
        td
            +tagFormat(entry.tagInfo)
        td
            +personFormat(entry.personInfo)
        td
            img(src=entry.photo, width='300px', height='300px')
        td
            form(method="POST", action="delete", onsubmit="return confirm('Are you sure you want to delete this entry?')")
                button(type='submit',name='id',value='#{entry._id}') DELETE

html(lang="en")
    head
        title FishTags-Test
    body
        table
            tr
                th tag Info
                th person Info
                th photo
                th delete
            each entry in entries
                +entryFormat(entry)